extends layout

block content
  h1= title
  br
  table 
  tr 
  th Number 
  th Items Product 
  th Price 
  td product.id 
  td product.name 
  td product.price

 for (var i = 0; i < 10; ++i) {
  li= array[i]
 } 
